@import "tailwindcss";

body {
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.test-text {
  font-family: "neue-haas-grotesk-text", sans-serif;
}

.grain svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}